@import "../abstracts/colors";

nav {
  font-family: $work_sans;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  #page_logo {
    cursor: pointer;
    margin-left: 50px;
    width: 243px;
    transition: 0.4s;
  }
  #page_logo:hover {
    transform: scale(1.1);
  }

  .nav_menu {
    margin-right: 50px;
    width: 607px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    > a {
      font-weight: 600;
      font-size: 16px;
      line-height: 22.4px;
      text-decoration: none;
      color: $White;
      padding: 0 20px;
      transition: 0.4s;
      position: relative;
    }
    > a:first-child:after {
      content: "";
      position: absolute;
      width: 0%;
      border-bottom: 2px solid $Call-to-action;
      bottom: -5px;
      left: 15px;
      transition: 0.4s;
    }
    > a:first-child:hover::after {
      width: 77%;
    }
    > a:nth-child(2):after {
      content: "";
      position: absolute;
      width: 0%;
      border-bottom: 2px solid $Call-to-action;
      bottom: -5px;
      left: 14px;
      transition: 0.4s;
    }
    > a:nth-child(2):hover::after {
      width: 75%;
    }
    > a:nth-child(3):after {
      content: "";
      position: absolute;
      width: 0%;
      border-bottom: 2px solid $Call-to-action;
      bottom: -5px;
      left: 17px;
      transition: 0.4s;
    }
    > a:nth-child(3):hover::after {
      width: 80%;
    }
    #user_button {
      display: flex;
      button {
        cursor: pointer;
        background-color: $Call-to-action;
        border: none;
        border-radius: 20px;
        width: 152px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        position: relative;
        overflow: hidden;
        img {
          width: 20px;
          height: 20px;
        }
        a {
          color: $White;
          font-weight: 600;
          padding: 0;
          font-size: 16px;
          line-height: 22.4px;
          text-decoration: none;
        }
      }
      button:before,
      button:after {
        content: "";
        position: absolute;
        top: 0;
        left: -150%;
        width: 150%;
        height: 100%;
        background-color: $White;
        opacity: 0.2;
        transform: rotate(45deg);
        transition: all ease 1s;
      }
      button:after {
        transition-delay: 0.2s;
      }
      button:hover::before,
      button:hover::after {
        left: 100%;
      }
    }
  }
  #sidebar {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  body {
    display: flex;
    justify-content: center;
  }
  nav {
    width: 834px;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
    .nav_menu {
      display: none;
    }
    #sidebar {
      transition: 0.4s;
      width: 300px;
      height: 400px;
      z-index: 100;
      display: flex;
      flex-direction: column;
      margin-top: 375px;
      align-items: end;
      #burger_menu {
        margin-right: 50px;
        width: 24px;
        display: initial;
        transition: 0.4s;
        z-index: 1;
      }
      #dropdown {
        width: 300px;
        height: 400px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: $Card-Color;
        display: flex;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        justify-content: center;
        transition: 0.4s;
        position: absolute;
        > a {
          transition: 0.4s;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 100%;
          color: $Call-to-action;
          text-decoration: none;
          font-size: 24px;
          font-weight: 600;
          transition: 0.4s;
        }
        > a:hover {
          background-color: $Call-to-action;
          color: $White;
        }
        #dropdown_user_button {
          button {
            cursor: pointer;
            background-color: $Call-to-action;
            border: none;
            border-radius: 20px;
            width: 250px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            position: relative;
            overflow: hidden;
            img {
              width: 20px;
              height: 20px;
            }
            a {
              color: $White;
              font-weight: 600;
              padding: 0;
              font-size: 16px;
              line-height: 22.4px;
              text-decoration: none;
            }
          }
          button:before,
          button:after {
            content: "";
            position: absolute;
            top: 0;
            left: -150%;
            width: 150%;
            height: 100%;
            background-color: $White;
            opacity: 0.2;
            transform: rotate(45deg);
            transition: all ease 1s;
          }
          button:after {
            transition-delay: 0.2s;
          }
          button:hover::before,
          button:hover::after {
            left: 100%;
          }
        }
        i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          color: $White;
          border-radius: 50%;
          background-color: $Call-to-action;
          top: 20px;
          left: -10px;
          position: absolute;
        }
      }
    }
    #burger_menu {
      display: initial;
      transition: 0.4s;
    }
    #burger_menu:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}

@media screen and (max-width: 834px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
    #page_logo {
      margin-left: 30px;
    }
    #burger_menu {
      transition: 0.4s;
      margin-right: 30px;
    }
  }
}
